.page {
  --_page-color: var(--color-background);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--_page-color);
  padding: 48px 16px;
}

@media screen and (min-width: 832px) {
  .page {
    padding: 48px;
  }
}