@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("@fonts/hanken-grotesk-v5-latin-500.woff2") format("woff2"),
    url("@fonts/hanken-grotesk-v5-latin-500.woff") format("woff");
}

/* hanken-grotesk-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("@fonts/hanken-grotesk-v5-latin-700.woff2") format("woff2"),
    url("@fonts/hanken-grotesk-v5-latin-700.woff") format("woff");
}

/* hanken-grotesk-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 800;
  src: url("@fonts/hanken-grotesk-v5-latin-800.woff2") format("woff2"),
    url("@fonts/hanken-grotesk-v5-latin-800.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
  padding: 3rem 1.5rem;
}

@media screen and (min-width: 976px) {
  body {
    padding: 3rem;
  }
}
